<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Moves .war from built location to prod</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>WARSOURCE</name>
          <description>Location of .war file source</description>
          <defaultValue>/home/ec2-user/workspace/devopskata_ci_project/target/SimpleWebApp-0.0.1-SNAPSHOT.war</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>WARDESTINATION</name>
          <description>Deployment location in Tomcat</description>
          <defaultValue>/usr/share/tomcat/webapps</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TESTURL</name>
          <description></description>
          <defaultValue>http://prod.rounceville.com:8080/SimpleWebApp/simplewebapp</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>prod</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>
whoami
echo &quot; &quot;
echo &quot;Copying war file&quot;
sudo rm -rf ${WARDESTINATION}/*
sudo cp ${WARSOURCE} ${WARDESTINATION}
sudo service tomcat restart
echo &quot;Waiting for tomcat to restart&quot;
sleep 30
echo &quot;Checking results&quot;
sudo curl -X GET ${TESTURL}</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.17">
      <recipients></recipients>
      <dontNotifyEveryUnstableBuild>true</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>