<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Monitors github.com/calphool/devopskata_ci_project and invokes maven build if changes are detected</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.19.2">
      <projectUrl>https://github.com/calphool/devopskata_ci_repo/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.5.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:calphool/devopskata_ci_repo.git</url>
        <credentialsId>2ef10f70-5b43-49d2-870d-e5a3026c2430</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>build</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.19.2">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>set +x
echo &apos;------------------------------------------&apos;
echo &quot;Code changed in github!&quot;
echo &apos;------------------------------------------&apos;
echo &apos; &apos;
echo &apos;Host:&apos;
hostname
echo &apos; &apos;
echo &apos;-----------------------------------------&apos;
echo &apos;Running as user:&apos;
whoami
echo &apos; &apos;
echo &apos;-----------------------------------------&apos;
echo &apos;Working directory:&apos;
pwd
echo &apos; &apos;
echo &apos;-----------------------------------------&apos;
echo &apos;Running Maven install&apos;
sudo rm /home/ec2-user/workspace/devopskata_ci_project_build_job/target/SimpleWebApp*.war
printf -v j &quot;%06d&quot; ${BUILD_NUMBER}
sed -i -e &quot;s/-SNAPSHOT/-${j}/g&quot; pom.xml
mvn install
echo &apos;Pushing .war file to ~/s3/builds&apos;
mkdir -p &quot;/home/ec2-user/s3/builds&quot; 2&gt; /dev/null
sudo cp /home/ec2-user/workspace/devopskata_ci_project_build_job/target/SimpleWebApp*.war /home/ec2-user/s3/builds
mkdir -p &quot;/home/ec2-user/s3/parms&quot; 2&gt; /dev/null
echo &quot;WARSOURCE=/home/ec2-user/s3/builds/SimpleWebApp-0.0.1-${j}.war&quot; | sudo tee /home/ec2-user/s3/parms/buildToQAParms.prop
echo &quot;WARDESTINATION=/usr/share/tomcat/webapps&quot; | sudo tee --append /home/ec2-user/s3/parms/buildToQAParms.prop
echo &quot;TESTURL=http://qa.rounceville.com:8080/SimpleWebApp-0.0.1-${j}/simplewebapp&quot; | sudo tee --append /home/ec2-user/s3/parms/buildToQAParms.prop</command>
    </hudson.tasks.Shell>
    <hudson.plugins.parameterizedtrigger.TriggerBuilder plugin="parameterized-trigger@2.31">
      <configs>
        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.FileBuildParameters>
              <propertiesFile>/home/ec2-user/s3/parms/buildToQAParms.prop</propertiesFile>
              <failTriggerOnMissing>true</failTriggerOnMissing>
              <useMatrixChild>false</useMatrixChild>
              <onlyExactRuns>false</onlyExactRuns>
            </hudson.plugins.parameterizedtrigger.FileBuildParameters>
          </configs>
          <projects>devopskata_ci_project_deploy_to_qa</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <block>
            <buildStepFailureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </buildStepFailureThreshold>
            <unstableThreshold>
              <name>UNSTABLE</name>
              <ordinal>1</ordinal>
              <color>YELLOW</color>
              <completeBuild>true</completeBuild>
            </unstableThreshold>
            <failureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </failureThreshold>
          </block>
          <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.TriggerBuilder>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.17">
      <recipients></recipients>
      <dontNotifyEveryUnstableBuild>true</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>